_target_: stableclimgen.src.models.CNN.pl_CNN.LightningCNNModel
lr_groups:
  - param_group: 'params'
    lr: 2e-4
    lr_warmup: 500
  - param_group: 'no_params'
    lr: 1e-4
    lr_warmup: 500
  - param_group: 'attention'
    lr: 2e-4
    lr_warmup: 500
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.0
  Grad_loss: 0
  GNLL_loss: 0
model:
  _target_: stableclimgen.src.models.diffusion.model.DiffusionGenerator
  init_in_ch: 3
  final_out_ch: 3
  skip_connections: true
  model_channels: 64
  block_configs:
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 1
      enc: true
      ch_mult: 2
      sub_confs:
        blocks: ["normal", "normal", "down"]
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 3
      enc: true
      ch_mult: 2
      sub_confs:
        blocks: ["normal", "normal", "down"]
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 3
      ch_mult: 2
      sub_confs:
        blocks: ["normal"]
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 4
      dec: true
      ch_mult: 0.5
      sub_confs:
        blocks: ["normal", "normal", "up"]
  patch_emb_config:
    block_type: "conv"
    patch_emb_size: [ 1, 1 ]
    patch_emb_kernel: [ 3, 3 ]