_target_: stableclimgen.src.models.diffusion.pl_diffusion.LightningDiffusionGenerator
lr: 1e-4
lr_warmup: 5000
model:
  _target_: stableclimgen.src.models.diffusion.model.DiffusionGenerator
  init_in_ch: 1
  final_out_ch: 1
  skip_connections: true
  model_channels: 64
  block_configs:
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 4
      enc: true
      ch_mult: 2
      sub_confs:
        blocks: ["normal", "normal", "down"]
        embedder_names: [["DiffusionStepEmbedder"], ["DiffusionStepEmbedder"], ["DiffusionStepEmbedder"]]
        embed_confs: ${embedding}
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 3
      ch_mult: 2
      sub_confs:
        blocks: ["normal"]
        embedder_names: [["DiffusionStepEmbedder"]]
        embed_confs: ${embedding}
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "resnet"
      depth: 4
      dec: true
      ch_mult: 0.5
      sub_confs:
        blocks: ["normal", "normal", "up"]
        embedder_names: [["DiffusionStepEmbedder"], ["DiffusionStepEmbedder"], ["DiffusionStepEmbedder"]]
        embed_confs: ${embedding}
  patch_emb_config:
    block_type: "conv"
    patch_emb_size: [ 1, 1 ]
    patch_emb_kernel: [ 3, 3 ]

gaussian_diffusion:
  _target_: stableclimgen.src.models.diffusion.respace.SpacedDiffusion
  diffusion_steps: 1000
  diffusion_step_scheduler: "cosine"