_target_: stableclimgen.src.models.diffusion.pl_diffusion.LightningDiffusionGenerator
lr: 1e-4
lr_warmup: 5000
model:
  _target_: stableclimgen.src.models.diffusion.model.DiffusionGenerator
  init_in_ch: 1
  final_out_ch: 1
  embed_dim: 64
  model_channels: 64
  patch_emb_size: [1, 1, 1]
  patch_emb_kernel: [1, 1, 1]
  embed_conf:
    CoordinateEmbedder:
      in_channels: 2
      embed_dim: 64
      shared: false
    DiffusionStepEmbedder:
      in_channels: 64
      embed_dim: 64
      shared: true
  block_configs:
    - _target_: stableclimgen.src.models.diffusion.model.DiffusionBlockConfig
      block_type: "trans"
      depth: 1
      ch_mult: 1
      sub_confs:
        blocks: ["s", "mlp"]
        embedder_names: [["CoordinateEmbedder", "DiffusionStepEmbedder"], ["DiffusionStepEmbedder"]]
        embed_confs: ${model.model.embed_conf}
gaussian_diffusion:
  _target_: stableclimgen.src.models.diffusion.respace.SpacedDiffusion
  diffusion_steps: 1000
  diffusion_step_scheduler: "cosine"
