_target_: stableclimgen.src.models.mgno_transformer.pl_mgno_diffusion_model.LightningMGNOBaseModel
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.0
  Grad_loss: 0
noise_std: 0
lr_groups:
  - param_group: 'params'
    lr: 2e-4
    lr_warmup: 500
  - param_group: 'no_params'
    lr: 2e-4
    lr_warmup: 500
  - param_group: 'attention'
    lr: 2e-4
    lr_warmup: 5000
model:
  _target_: stableclimgen.src.models.mgno_transformer.mgno_transformer_mg.MGNO_Transformer_MG
  mgrids: ${mgrids}
  lifting_dim: 16
  input_dim: 1
  output_dim: 4
  n_vars_total: 1
  n_head_channels: 32
  with_gamma: false
  omit_backtransform: true
  rank: 1.0
  rank_cross: 1.0
  block_type: 'pre_layer_norm'
  layer_type: 'CrossTucker'
  concat_layer_type: "CrossTucker"
  reduction_layer_type: "CrossTucker"
  input_embed_names: ["CoordinateEmbedder"]
  input_embed_confs: ${embedding}
  block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGStackedEncoderDecoderConfig
      with_gamma: false
      global_levels_output: [0,1,2,3,4]
      global_levels_no: 4
      model_dims_out: [16,32,64,128,256]
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: false
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      mg_reduction: 'linear'
      with_gamma: false
      global_levels_output: [0,1,2,3,4]
      global_levels_no: [0,1,2,3,4]
      model_dims_out: [32,64,128,256,256]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGProcessingConfig
      model_dims_out: [[32,64,128,256,256],[32,64,128,256,256]]
      layer_settings_levels:
        - type: "spatial_att"
          min_lvl: 0
          n_head_channels: 16
          embed_confs: ${embedding}
          embedder_names: [["CoordinateEmbedder"],["CoordinateEmbedder"]]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "spatial_att"
          min_lvl: 0
          n_head_channels: 16
          embed_confs: ${embedding}
          embedder_names: [["CoordinateEmbedder"],["CoordinateEmbedder"]]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      with_gamma: false
      mg_reduction: 'linear'
      global_levels_output: [0,1,2,3]
      global_levels_no: [0,1,2,3]
      model_dims_out: [32,64,128,256]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      with_gamma: false
      mg_reduction: 'linear'
      global_levels_output: [1,2,3]
      global_levels_no: [1,2,3]
      model_dims_out: [32,64,128]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      with_gamma: false
      mg_reduction: 'linear'
      global_levels_output: [1,2,3]
      global_levels_no: [1,2,3]
      model_dims_out: [32,64,128]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGProcessingConfig
      model_dims_out: [[32,64,128],[32,64,128]]
      layer_settings_levels:
        - type: "spatial_att"
          min_lvl: 0
          n_head_channels: 16
          embed_confs: ${embedding}
          embedder_names: [["CoordinateEmbedder"],["CoordinateEmbedder"]]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "spatial_att"
          min_lvl: 0
          n_head_channels: 16
          embed_confs: ${embedding}
          embedder_names: [["CoordinateEmbedder"],["CoordinateEmbedder"]]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      with_gamma: false
      mg_reduction: 'linear'
      global_levels_output: [2,3]
      global_levels_no: [2,3]
      model_dims_out: [32,128]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      with_gamma: false
      mg_reduction: 'linear'
      global_levels_output: [3]
      global_levels_no: [3]
      model_dims_out: [32]
      rule: "="
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]