_target_: stableclimgen.src.models.mg_transformer.pl_mg_model.LightningMGModel
decomposed_loss: true
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0
noise_std: 0
weight_decay: 0
lr_groups:
  default:
    lr: 5e-4
    warmup: 0
  attention:
    matches: ['TransformerBlock','GridSelfAttention']
    lr: 5e-4
    warmup: 500
model:
  _target_: stableclimgen.src.models.mg_transformer.mg_transformer.MG_Transformer
  mgrids: ${mgrids}
  mg_emb_confs: ${embedding.MGEmbedder.mg_emb_confs}
  in_zooms: ${dataloader.dataset.out_zooms}
  in_features: 1
  out_features: 1
  lift_features: 1
  n_head_channels: 16
  learn_residual: true
  layer_confs_emb:
    n_vars_total: 4
    rank_feat: 2
  block_configs:
    "0": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: 'linear'
    "1": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128]
      zooms: [4]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "2":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [4,3]
      kv_zooms: [4,3]
      layer_settings:
        with_nh: true
        common_kv: false
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "3":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6]
      kv_zooms: [4,3]
      layer_settings:
        with_nh: true
        common_kv: false
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "9": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "4": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 1,1,1, 1 ]
      layer_settings:
        type: 'mlp'
    "5":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGConservativeConfig