_target_: stableclimgen.src.models.mg_transformer.pl_mg_model.LightningMGModel
lambda_loss_dict:
  zooms:
    3:
      MSE_loss: 1
    5:
      MSE_loss: 1
    6:
      MSE_loss: 1
weight_decay: 0
lr_groups:
  default:
    lr: 2e-4
    warmup: 2000
model:
  _target_: stableclimgen.src.models.mg_transformer.mg_transformer.MG_Transformer
  mgrids: ${mgrids}
  in_zooms: [3,5,6]
  in_features: 1
  out_features: 1
  lift_features: 1
  n_head_channels: 16
  use_mask: false
  n_groups_variables: [2]
  layer_confs_emb:
    aggregation: 'shift_scale'
  block_configs:
    "0":
      _target_: stableclimgen.src.modules.field_space.field_space_attention.FieldSpaceAttentionConfig
      separate_mlp_norm: True
      q_zooms: [3]
      kv_zooms: [3]
      token_zoom: 3
      att_dim: 32
      token_len_depth: [1,1]
      token_len_time: 3
      token_overlap_space: True
      token_overlap_time: False
      token_overlap_depth: False
      mlp_token_overlap_time: False
      mlp_token_overlap_depth: False
      rank_depth: [null,4]
      rank_space: [16,16]
      rank_time: [2,2]
      seq_len_zoom: -1
      seq_len_time: -1
      seq_len_depth: -1
      with_var_att: True
      update: shift
      embed_confs:
        embed_names: ['TimeEmbedder']
        input_zoom: 3
        embed_confs: ${embedding}
        embed_mode: "sum"
        token_overlap_space: False
    "0_0":
      _target_: stableclimgen.src.modules.field_space.field_space_attention.FieldSpaceAttentionConfig
      separate_mlp_norm: True
      q_zooms: [3,5,6]
      kv_zooms: [3,5,6]
      token_zoom: 3
      att_dim: 32
      token_len_depth: [1,5]
      token_len_time: 1
      token_overlap_space: True
      token_overlap_time: False
      token_overlap_depth: False
      mlp_token_overlap_time: False
      mlp_token_overlap_depth: False
      rank_depth: [null,4]
      seq_len_zoom: -1
      seq_len_time: -1
      seq_len_depth: -1
      with_var_att: True
      update: shift
      embed_confs:
        embed_names: ['TimeEmbedder']
        input_zoom: 3
        embed_confs: ${embedding}
        embed_mode: "sum"
    "conservative": 
      _target_: stableclimgen.src.modules.field_space.field_space_base.ConservativeLayerConfig