_target_: stableclimgen.src.models.mg_transformer.pl_mg_diffusion_model.Lightning_MG_diffusion_transformer
composed_loss: false
lambda_loss_dict:
  MSE_loss: 1
noise_std: 0
weight_decay: 0
interpolator_settings:
  search_zoom_rel: 3
  nh_inter: 1
  power: 1
lr_groups:
  default:
    lr: 2e-4
    warmup: 5000
  attention:
    matches: ['TransformerBlock','GridSelfAttention']
    lr: 2e-4
    warmup: 5000
mg_encoder_config:
  type: diff
  out_zooms: [6,5,4,3]
model:
  _target_: stableclimgen.src.models.mg_transformer.mg_transformer.MG_Transformer
  mgrids: ${mgrids}
  mg_emb_confs: ${embedding.MGEmbedder.mg_emb_confs}
  predict_var: false
  in_features: [1, 1, 1, 1]
  out_features: 1
  lift_features: 1
  n_head_channels: 16
  learn_residual: true
  in_zooms: [6,5,4,3]
  layer_confs:
    n_vars_total: 1
  layer_confs_emb:
    n_vars_total: 4
  mg_decoder_config:
    type: sum
    out_zoom: [6]
    interpolator_confs:
      nh_inter: 1
      power: 1
  block_configs:
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 128,128,128, 128 ]
      layer_settings:
        type: 'linear'
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,5,4,3]
      kv_zooms: [6,5,4,3]
      layer_settings:
        with_nh: true
        common_kv: true
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 128,128,128,128 ]
      layer_settings:
        type: "TransformerBlock"
        blocks: [ "vsnh","mlp","vsnh","mlp" ]
        seq_lengths: 1
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 1,1,1, 1 ]
      layer_settings:
        type: 'mlp'
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGConservativeConfig
gaussian_diffusion:
  _target_: stableclimgen.src.models.diffusion.mg_respace.SpacedDiffusion
  diffusion_steps: 1000
  diffusion_step_scheduler:
    6: "karras"
    5: "karras"
    4: "cosine"
    3: "cosine"
