_target_: stableclimgen.src.models.mg_vae.pl_mg_model.LightningMGVAEModel
composed_loss: true
kl_weight: 1.0e-10
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.0
  Grad_loss: 0
  GNLL_loss: 0
noise_std: 0
weight_decay: 0
interpolator_settings:
  search_zoom_rel: 3
  nh_inter: 2
  power: 1
lr_groups:
  default:
    lr: 2e-4
    warmup: 0
  attention:
    matches: ['TransformerBlock','GridSelfAttention']
    lr: 2e-4
    warmup: 2000
model:
  _target_: stableclimgen.src.models.mg_vae.mg_vae.MG_VAE
  mgrids: ${mgrids}
  mg_emb_confs: ${embedding.MGEmbedder.mg_emb_confs}
  in_features: 1
  out_features: 1
  lift_features: 1
  n_head_channels: 16
  learn_residual: true
  layer_confs:
    -rank_channel: 16
  mg_encoder_config:
    type: diff
    out_zooms: [6,5,3]
  mg_decoder_config:
    type: sum
    out_zoom: [6]
    interpolator_confs:
      nh_inter: 1
      power: 1
  encoder_block_configs:
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: 'linear'
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,5,3]
      kv_zooms: [6,5,3]
      layer_settings:
        with_nh: true
        common_kv: true
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: ["MGEmbedder","UncertaintyEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [ 3 ]
      kv_zooms: [6,5,3]
      out_zooms: [3]
      layer_settings:
        with_nh: true
        common_kv: true
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder","UncertaintyEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
  decoder_block_configs:
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,5,3]
      kv_zooms: [3]
      out_zooms: [6,5,3]
      layer_settings:
        with_nh: true
        common_kv: true
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder","UncertaintyEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
            - ["MGEmbedder","UncertaintyEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 128,128,128 ]
      layer_settings:
        type: 'linear'
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 128,128,128 ]
      layer_settings:
        type: "TransformerBlock"
        blocks: [ "vsnh","mlp","vsnh","mlp" ]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,5,3]
      kv_zooms: [6,5,3]
      layer_settings:
        with_nh: true
        common_kv: true
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder","UncertaintyEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 128,128,128 ]
      layer_settings:
        type: "TransformerBlock"
        blocks: [ "vsnh","mlp","vsnh","mlp" ]
        seq_lengths: 2
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
            - [ "MGEmbedder","UncertaintyEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [ 1,1,1 ]
      layer_settings:
        type: 'linear'
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGConservativeConfig
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.confs.MGNOQuantConfig
    block_type: "TransformerBlock"
    latent_ch: [16]
    embed_confs:
      embed_names: []
    layer_settings:
      blocks: [ "mlp" ]
      n_head_channels: [ 2 ]
      distribution: gaussian