_target_: stableclimgen.src.models.mg_vae.pl_mg_model.LightningMGVAEModel
decomposed_loss: true
kl_weight: 1.0e-10
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0
  Grad_loss: 0
  GNLL_loss: 0
weight_decay: 0
lr_groups:
  default:
    lr: 2e-4
    warmup: 0
  attention:
    matches: ['TransformerBlock','GridSelfAttention']
    lr: 2e-4
    warmup: 2000
model:
  _target_: stableclimgen.src.models.mg_vae.mg_vae.MG_VAE
  mgrids: ${mgrids}
  in_zooms: [3,4,6]
  mg_emb_confs: ${embedding.MGEmbedder.mg_emb_confs}
  in_features: 2
  out_features: 2
  n_head_channels: 16
  learn_residual: false
  layer_confs_emb:
    n_groups: 1
    rank_feat: 4
  encoder_block_configs:
    "input": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: 'linear'
    "enc_0":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        att_dims: 256
        seq_lengths: [10,2,2]
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "enc_1":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [3]
      kv_zooms: [6,4,3]
      out_zooms: [3]
      layer_settings:
        with_nh: true
        common_kv: false
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "enc_2":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: [10,2,2]
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
  decoder_block_configs:
    "dec_0":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,4,3]
      kv_zooms: [3]
      out_zooms: [6,4,3]
      layer_settings:
        with_nh: true
        common_kv: false
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "dec_1":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["vsnh","mlp","vsnh","mlp"]
        seq_lengths: [10,2,2]
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
            - ["MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "dec_2":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128,128]
      layer_settings:
        type: "TransformerBlock"
        blocks: [ "vsnh","mlp","vsnh","mlp" ]
        seq_lengths: [10,2,2]
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names:
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
            - [ "MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "dec_3":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGSelfProcessingConfig
      out_features: 128
      q_zooms: [6,4,3]
      kv_zooms: [6,4,3]
      layer_settings:
        with_nh: true
        common_kv: false
        n_head_channels: 32
        mlp_mult: 2
        embed_confs:
          embed_names: [ "MGEmbedder"]
          embed_confs: ${embedding}
          embed_mode: "sum"
    "output":
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [2,2,2]
      layer_settings:
        type: 'mlp'
    "conservative": 
      _target_: stableclimgen.src.modules.multi_grid.confs.MGConservativeConfig
  quant_config:
    _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
    out_features: [4, 4, 4]
    layer_settings:
      type: "TransformerBlock"
      blocks: [ "mlp" ]
      n_head_channels: 32
      mlp_mult: 2
      embed_confs:
        embed_names:
          - ["MGEmbedder"]
        embed_confs: ${embedding}
        embed_mode: "sum"