_target_: stableclimgen.src.models.mg_vae.pl_mg_model.LightningMGVAEModel
kl_weight: 1.0e-10
lambda_loss_dict:
  composed:
    MSE_loss: 1
weight_decay: 0
lr_groups:
  default:
    lr: 0.0005
    warmup: 0
model:
  _target_: stableclimgen.src.models.mg_vae.mg_vae.MG_VAE
  mgrids: ${mgrids}
  in_zooms: [4,5]
  in_features: 1
  out_features: 1
  n_head_channels: 32
  learn_residual: false
  layer_confs_emb:
    n_groups: 1
  layer_confs:
    n_groups: 1
    bias: false
  sample_gamma: true
  encoder_block_configs:
    input:
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128]
      layer_settings:
        type: conv
    res_enc:
      _target_: stableclimgen.src.modules.multi_grid.confs.Conv_EncoderDecoderConfig
      zoom_map:
        4: [5]
      out_zooms: [4]
      aggregation: concat
  decoder_block_configs:
    res_dec:
      _target_: stableclimgen.src.modules.multi_grid.confs.Conv_EncoderDecoderConfig
      zoom_map:
        5: [4]
      out_zooms: [4,5]
      aggregation: sum
    res_nh:
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [128,128]
      layer_settings:
        type: res_conv
    output:
      _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features:
      - 1
      - 1
      layer_settings:
        type: mlp
  quant_config:
    _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
    out_features:
    - 8
    layer_settings:
      type: linear
