_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
weight_decay: 0
kl_weight: 1.0e-10
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.0
  Grad_loss: 0
  GNLL_loss: 0
lr_groups:
  default:
    lr: 1e-3
    warmup: 1
  transformer:
    lr: 1e-4
    warmup: 1000
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  in_features: 1
  lift_features: 128
  out_features: 1
  rotate_coord_system: true
  block_type: pre_layer_norm
  with_gamma: false
  omit_backtransform: true  
  input_layer_confs:
    bias: false
  layer_confs:
    bias: false
    n_vars_total: 1
    rank_feat: 1.0
    rank_channel: 1.0
    fc: true
  input_embed_confs:
    embed_names: ["CoordinateEmbedder"]
    embed_confs: ${embedding}
    embed_mode: "sum"
  encoder_block_configs:
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [6]
    no_zooms: [6]
    out_features: [256]
    rule: fc
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: false
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0  
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [6]
    no_zooms: [6]
    out_features: [256]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [512]
    rule: "fc"
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: false
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [512]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
    out_features: [512]
    layer_confs:
      fc: false
    layer_settings:
      type: "TransformerBlock"
      blocks: ["s", "mlp", "s", "mlp"]
      n_head_channels: 32
      mlp_mult: 1
      seq_lengths: 3
      embed_confs:
        embed_names: [["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"]]
        embed_confs: ${embedding}
        embed_mode: "sum"
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [512]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [8]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  decoder_block_configs:
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [4]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [5]
    no_zooms: [5]
    out_features: [512]
    rule: "="
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
    out_features: [512]
    layer_confs:
      fc: false
    layer_settings:
      type: "TransformerBlock"
      blocks: ["s", "mlp", "s", "mlp"]
      n_head_channels: 32
      mlp_mult: 1
      seq_lengths: 3
      embed_confs:
        embed_names: [["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"]]
        embed_confs: ${embedding}
        embed_mode: "sum"
  - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
    out_zooms: [6]
    no_zooms: [6]
    out_features: [256]
    rule: fc
    embed_confs:
      embed_names: ["CoordinateEmbedder"]
      embed_confs: ${embedding}
      embed_mode: "sum"
    no_layer_settings:
      no_layer_type: VonMises
      n_params: [5]
      nh_in_encode: true
      nh_in_decode: false
      global_params_learnable: [false, false]
      sigma: 1e-3
      kappa: 8.0
  - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
    out_features: [128]
    layer_settings:
      type: "TransformerBlock"
      blocks: ["s", "mlp", "s", "mlp"]
      n_head_channels: 32
      mlp_mult: 1
      seq_lengths: 3
      embed_confs:
        embed_names: [["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"],["CoordinateEmbedder"]]
        embed_confs: ${embedding}
        embed_mode: "sum"
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.confs.MGNOQuantConfig
    block_type: "TransformerBlock"
    latent_ch: [4]
    layer_confs:
      fc: false
    embed_confs:
      embed_names: [["CoordinateEmbedder"]]
      embed_confs: ${embedding}
      embed_mode: "sum"
    layer_settings:
      blocks: ["mlp"]
      n_head_channels: [2]
      distribution: gaussian