_target_: stableclimgen.src.models.mgno_transformer.pl_mgno_Transformer.LightningMGNOTransformer
lr_groups:
  - param_group: 'params'
    lr: 1e-3
    lr_warmup: 1
  - param_group: 'no_params'
    lr: 1e-5
    lr_warmup: 5000
model:
  _target_: stableclimgen.src.models.mgno_transformer.mgno_Transformer.MGNO_Transformer
  mgrids: ${mgrids}
  model_dim_in: 1
  model_dim_out: 1
  n_vars_total: 3
  n_head_channels: 16
  rotate_coord_system: true
  embed_confs: ${embedding}
  embed_mode: "sum"
  block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_Transformer.NOBlockConfig
      block_type: "Parallel"
      global_levels: [2,4]
      nh_transformation: false
      nh_inverse_transformation: true
      att_dim: 64
      embed_confs: ${embedding}
      embed_mode: "sum"
      global_res: true
      skip_mode: 'amp'
      with_res: false
      layer_settings: 
        - n_params: [4,2,1]
          no_type: "polNormal"
          amplitude_dim_encode: 2
          amplitude_dim_decode: 2
          avg_params: [true, true, false]
          global_params_learnable: [true, true, true]
          n_var_amplitudes: ${embedding.VariableEmbedder.in_channels}
          block_types_encode: []
          block_types_decode: []
          embed_names_encode: [[]]
          embed_names_decode: [[]]
        - n_params: [4,2,1]
          no_type: "polNormal"
          amplitude_dim_encode: 2
          amplitude_dim_decode: 2
          avg_params: [false, false, false]
          global_params_learnable: [true, true, true]
          n_var_amplitudes: ${embedding.VariableEmbedder.in_channels}
          block_types_encode: []
          block_types_decode: []
          embed_names_encode: [[]]
          embed_names_decode: [[]]