_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
lr_groups:
  - param_group: 'params'
    lr: 1e-4
    lr_warmup: 2000
  - param_group: 'no_params'
    lr: 1e-6
    lr_warmup: 5000
  - param_group: 'emb_params'
    lr: 1e-3
    lr_warmup: 1
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  model_dim_in: 1
  model_dim_out: 1
  n_vars_total: 1
  n_head_channels: 16
  rotate_coord_system: true
  block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_Transformer.NOBlockConfig
      block_type: "UNet"
      global_levels: [2,2]
      att_dim: 64
      embed_confs: ${embedding}
      embed_mode: "sum"
      skip_mode: ''
      is_encoder_only: false
      is_decoder_only: false
      layer_settings: 
        - n_params: [4,2,1]
          no_type: "polNormal"
          amplitude_dim_encode: 4
          amplitude_dim_decode: 4
          nh_transformation: false
          nh_inverse_transformation: false
          avg_params: [true, true, false]
          global_params_learnable: [true, true, true]
          n_var_amplitudes: ${embedding.VariableEmbedder.in_channels}
          block_types_encode: ["var"]
          block_types_decode: []
          embed_names_encode: [["VariableEmbedder"]]
          embed_names_decode: [[]]
        - n_params: [4,2,1]
          no_type: "polNormal"
          amplitude_dim_encode: 4
          amplitude_dim_decode: 4
          nh_transformation: true
          nh_inverse_transformation: true
          avg_params: [false, true, false]
          global_params_learnable: [true, true, true]
          n_var_amplitudes: ${embedding.VariableEmbedder.in_channels}
          block_types_encode: ["trans"]
          block_types_decode: []
          embed_names_encode: [["VariableEmbedder", "CoordinateEmbedder"]]
          embed_names_decode: [[]]
          spatial_attention_configs:
            nh: false
            seq_lvl: 2 
            blocks: ["s", "mlp"]
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.mgno_vae.QuantConfig
    block_type: "grid_trans"
    latent_ch: [ 16, 4, 4 ]
    sub_confs:
      blocks: [ "s", "s", "mlp" ]
      n_head_channels: 2
      nh: 0
      seq_lvl: -1
      embedder_names: [ ["VariableEmbedder", "CoordinateEmbedder"], ["VariableEmbedder", "CoordinateEmbedder"], [] ]
      embed_confs: ${embedding}
      embed_mode: "sum"
