_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
kl_weight: 0.0
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.1
lr_groups:
  - param_group: 'params'
    lr: 1e-4
    lr_warmup: 1
  - param_group: 'no_params'
    lr: 1e-4
    lr_warmup: 500
  - param_group: 'attention'
    lr: 1e-4
    lr_warmup: 10000
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  input_dim: 1
  lifting_dim: 8
  output_dim: 1
  n_vars_total: 3
  n_head_channels: 32
  rotate_coord_system: true
  p_dropout: 0
  encoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.NOBlockConfig
      block_type: 'Serial'
      model_dims_out: [8,16,32,64]
      layer_settings:
        - type: "NO_mlp"
          global_level_no: 1
          global_level_decode: 1
          no_layer_type: 'polNormal'
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder"]
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: false
            global_params_learnable: [false, false]
        - type: "spatial_att"
          n_head_channels: 4
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "spatial_att"
          n_head_channels: 4
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "NO_mlp"
          global_level_no: 2
          global_level_decode: 2
          no_layer_type: 'polNormal'
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: false
            global_params_learnable: [false, false]
  decoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.NOBlockConfig
      block_type: 'Serial'
      model_dims_out: [64,32,16,8]
      layer_settings:
        - type: "NO_mlp"
          global_level_no: 1
          global_level_decode: 1
          no_layer_type: 'polNormal'
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder"]
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: false
            global_params_learnable: [false, false]
        - type: "spatial_att"
          n_head_channels: 4
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "spatial_att"
          n_head_channels: 4
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "NO_mlp"
          global_level_no: 0
          global_level_decode: 0
          no_layer_type: 'polNormal'
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: true
            global_params_learnable: [false, false]
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.mgno_vae.QuantConfig
    block_type: grid_trans
    latent_ch: [32, 8, 4]
    n_head_channels: [8, 4, 2]
    sub_confs:
      blocks: ["s", "s", "mlp"]
      nh: false
      seq_lvl: -1
      embedder_names:
      - - VariableEmbedder
        - CoordinateEmbedder
      - - VariableEmbedder
        - CoordinateEmbedder
      - - VariableEmbedder
        - CoordinateEmbedder
      embed_confs: ${embedding}
      embed_mode: sum
      distribution: dirac