_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0.0
  Grad_loss: 0
  GNLL_loss: 0
noise_std: 0
weight_decay: 0.01
interpolator_settings:
  search_zoom_rel: 4
  nh_inter: 3
  power: 2
lr_groups:
  - param_group: 'params'
    lr: 1e-4
    lr_warmup: 500
  - param_group: 'no_params'
    lr: 1e-4
    lr_warmup: 5000
  - param_group: 'attention'
    lr: 1e-4
    lr_warmup: 5000
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  in_features: 1
  out_features: 1
  lift_features: 64
  n_head_channels: 16
  with_gamma: false
  omit_backtransform: true
  layer_confs:
    cross: false
    bias: false
    factorize: true
    factorize_vars: true
    n_vars_total: 6
    rank: 0.5
    rank_vars: 4
  block_type: 'pre_layer_norm'
  learn_residual: true
  concat_prev: false
  encoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 5 ]
      no_zooms: [ 5 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 4 ]
      no_zooms: [ 4 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 3 ]
      no_zooms: [ 3 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
  decoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 3 ]
      no_zooms: [ 3 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.modules.multi_grid.confs.MGProcessingConfig
      out_features: [64]
      layer_settings:
        type: "TransformerBlock"
        blocks: ["s","mlp"]
        seq_lengths: 3
        n_head_channels: 32
        mlp_mult: 1
        embed_confs:
          embed_names:
            - [ "CoordinateEmbedder" ]
            - [ "CoordinateEmbedder" ]
          embed_confs: ${embedding}
          embed_mode: "sum"
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 4 ]
      no_zooms: [ 4 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [5]
      no_zooms: [5]
      out_features: [64]
      rule: "fc"
      embed_confs:
        embed_names: ["CoordinateEmbedder"]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [3]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [false, false]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.confs.MGNOEncoderDecoderConfig
      out_zooms: [ 6 ]
      no_zooms: [ 6 ]
      out_features: [ 64 ]
      rule: "fc"
      embed_confs:
        embed_names: [ "CoordinateEmbedder" ]
        embed_confs: ${embedding}
        embed_mode: "sum"
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.confs.MGNOQuantConfig
    block_type: "TransformerBlock"
    latent_ch: [8, 8]
    embed_confs:
      embed_names:
        - [ "CoordinateEmbedder" ]
        - [ "CoordinateEmbedder" ]
      embed_confs: ${embedding}
      embed_mode: "sum"
    layer_settings:
      blocks: [ "s","mlp" ]
      seq_lengths: 0
      n_head_channels: [1, 1]
      mlp_mult: 1
      distribution: gaussian