_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
kl_weight: 0.0
lr_groups:
  - param_group: 'params'
    lr: 1e-4
    lr_warmup: 1
  - param_group: 'no_params'
    lr: 1e-4
    lr_warmup: 500
  - param_group: 'attention'
    lr: 1e-4
    lr_warmup: 10000
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  input_dim: 1
  lifting_dim: 8
  output_dim: 1
  n_vars_total: 3
  n_head_channels: 32
  rotate_coord_system: true
  p_dropout: 0
  block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_Transformer.NOBlockConfig
      block_type: 'Serial'
      model_dims_out: [16,16,16,16,16]
      layer_settings:
        - type: "NO_mlp"
          global_level_no: 2
          global_level_decode: 1
          no_layer_type: 'polNormal'
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder"]
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: false
            global_params_learnable: [false, false]
        - type: "spatial_att"
          n_head_channels: 16
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "spatial_att"
          n_head_channels: 16
          embed_confs: ${embedding}
          embed_names: ["VariableEmbedder","CoordinateEmbedder"]
          spatial_attention_configs:
            nh: false
            seq_lvl: 3
            blocks: ["s", "mlp"]
        - type: "NO_mlp"
          global_level_no: 2
          global_level_decode: 0
          no_layer_type: 'polNormal'
          no_layer_settings:
            n_params: [4,2,1]
            nh_in_encode: true
            nh_in_decode: false