_target_: stableclimgen.src.models.mgno_vae.pl_mgno_vae.Lightning_MGNO_VAE
weight_decay: 0.01
lambda_loss_dict:
  MSE_loss: 1
  NH_loss: 0
lr_groups:
  - param_group: 'params'
    lr: 1e-4
    lr_warmup: 200
  - param_group: 'no_params'
    lr: 1e-4
    lr_warmup: 500
  - param_group: 'attention'
    lr: 1e-4
    lr_warmup: 200
model:
  _target_: stableclimgen.src.models.mgno_vae.mgno_vae.MGNO_VAE
  mgrids: ${mgrids}
  input_dim: 1
  lifting_dim: 8
  output_dim: 1
  n_vars_total: 3
  n_head_channels: 32
  rotate_coord_system: true
  p_dropout: 0
  mask_as_embedding: true
  block_type: 'post_layer_norm'
  with_gamma: true
  omit_backtransform: true
  rank: 0.5
  rank_cross: 0.5
  layer_type: 'CrossDense'
  input_embed_names: [ "MaskEmbedder" ]
  input_embed_confs: ${embedding}
  encoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGStackedEncoderDecoderConfig
      global_levels_output: [ 3 ]
      global_levels_no: 4
      model_dims_out: [ 16 ]
      concat_layer_type: 'CrossDense'
      reduction_layer_type: 'Dense'
      embed_names: [ "CoordinateEmbedder" ]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: true
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
  decoder_block_configs:
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      global_levels_output: [ 2 ]
      global_levels_no: [ 2 ]
      model_dims_out: [ 16 ]
      rule: "fc"
      embed_names: [ "CoordinateEmbedder" ]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      global_levels_output: [ 1 ]
      global_levels_no: [ 1 ]
      model_dims_out: [ 16 ]
      rule: "fc"
      embed_names: [ "CoordinateEmbedder" ]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
    - _target_: stableclimgen.src.models.mgno_transformer.mgno_block_confs.MGEncoderDecoderConfig
      global_levels_output: [ 0 ]
      global_levels_no: [ 0 ]
      model_dims_out: [ 16 ]
      rule: "fc"
      embed_names: [ "CoordinateEmbedder" ]
      embed_confs: ${embedding}
      no_layer_settings:
        no_layer_type: 'VonMises'
        n_params: [ 3 ]
        nh_in_encode: true
        nh_in_decode: false
        global_params_learnable: [ false, false ]
        sigma: 1e-3
        kappa: 8.0
  quant_config:
    _target_: stableclimgen.src.models.mgno_vae.mgno_vae.QuantConfig
    block_type: grid_trans
    latent_ch: [32, 8, 4]
    n_head_channels: [8, 4, 2]
    sub_confs:
      blocks: ["s", "s", "mlp"]
      nh: false
      seq_lvl: -1
      embedder_names:
      - - VariableEmbedder
        - CoordinateEmbedder
      - - VariableEmbedder
        - CoordinateEmbedder
      - - VariableEmbedder
        - CoordinateEmbedder
      embed_confs: ${embedding}
      embed_mode: sum
      distribution: gaussian